
body{
    background-color: orange;
    color: black;
}

header{
       top:0px;
       left:0px;
       position:absolute;
       width:100%;
       height:100px;
       background-color: brown;
}

article{
    height:100px;
    width:500px;
    margin-bottom:20px;
    border: 3px solid red;
    padding:10px;
    font-size: 12px;
}

footer{
       position:absolute;
       bottom:0px;
       left:0px;
       width:100%;
       height:80px;
       background-color: brown;
}
