
body{
    background-color: brown;
    color: black;
}



header{
       top:0px;
       left:0px;
       font-size:18px;
       color:black;
       margin-top:-8px;
       margin-bottom:8px;
       margin-left:-8px;
       padding-left:30px;
       padding-top:2px;
       width:110%;
       height:90px;
       background-color: #FFA500;
}

article{
        height:110px;
        width: 300px;
        margin-left:700px;
        background-color:rgb(248, 179, 150);
        border: 2px solid white;
        padding:5px;
        font-size: 9px;
}

footer{
       position:absolute;
       bottom:0px;
       left:0px;
       width:100%;
       height: 60px;
       background-color: #FFA500;
       margin-top:25px;
       margin-bottom:-9px;
}

h2 a {color:hsl(39, 91%, 50%);

}